.main {
  padding: 3.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.75rem;
}
.sectionPosts {
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  justify-content: space-between;
}
.containerPostsColunm {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

@media (max-width: 600px) {
  .sectionPosts {
    flex-wrap: wrap;
  }
}
